<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/testKnowledge.css">
</head>
<body>
	

	</script>

	<div class='greeting'>Welcome! Test your knowledge on the latest ATP Rankings!</div>

	<div id='game-wrapper'>
		<div id='player-info-section'> 
			<div id='player-name'>
				<%=playerNameToRender%>

			</div>
			<div id='player-picture'>
				<img src="<%=imageToRender %>"/>
			</div>
		</div>

		<a href='testKnowledge/correctAnswer'><button id='correct-answer'>
			<%=playerRankToRender%>
		</button></a>
		<a href='testKnowledge/wrongAnswer'><button id='wrong-answer'>
			<%=wrongRankToRender%>
		</button></a>

		<a href='testKnowledge/reset'><button id='wrong-answer'>
			Reset Test
		</button></a>
	</div>

	<div class='score'>
		Score: <%=scoreToRender%> / 10 

	</div>
</body>
</html>